q### For information on options and defaults, run `somd-freenrg --help-config`

### Integrator - ncycles modified as required by a3fe ###
nmoves = 25000
ncycles = 60
timestep = 4 * femtosecond
constraint = hbonds
hydrogen mass repartitioning factor = 3.0
integrator = langevinmiddle
inverse friction = 1 * picosecond
temperature = 25 * celsius
# Thermostatting already handled by langevin integrator
thermostat = False

### Barostat ###
barostat = True
pressure = 1 * atm

### Non-Bonded Interactions ###
cutoff type = cutoffperiodic
cutoff distance = 12 * angstrom
reaction field dielectric = 78.3

### Trajectory ###
buffered coordinates frequency = 5000
center solute = True

### Minimisation ###
minimise = True

### Alchemistry - restraints added by a3fe ###
perturbed residue number = 1
energy frequency = 200

### Added by a3fe ###
perturbed_residue number = 1
use boresch restraints = True
turn on receptor-ligand restraints mode = False
charge difference = 0
lambda array = 0.0, 0.025, 0.05, 0.075, 0.1, 0.125, 0.15, 0.175, 0.2, 0.225, 0.25, 0.275, 0.3, 0.325, 0.35, 0.375, 0.4, 0.425, 0.45, 0.475, 0.5, 0.525, 0.55, 0.575, 0.6, 0.625, 0.65, 0.675, 0.7, 0.725, 0.75, 0.8, 0.85, 0.9, 0.95, 1.0
