### For information on options and defaults, run `somd-freenrg --help-config`

### Integrator - ncycles modified as required by a3fe ###
nmoves = 25000
ncycles = 60
timestep = 4 * femtosecond
constraint = hbonds
hydrogen mass repartitioning factor = 3.0
integrator = langevinmiddle
inverse friction = 1 * picosecond
temperature = 25 * celsius
# Thermostatting already handled by langevin integrator
thermostat = False

### Barostat ###
barostat = True
pressure = 1 * atm

### Non-Bonded Interactions ###
cutoff type = cutoffperiodic
cutoff distance = 12 * angstrom
reaction field dielectric = 78.3

### Trajectory ###
buffered coordinates frequency = 5000
center solute = True

### Minimisation ###
minimise = True

### Alchemistry - restraints added by a3fe ###
perturbed residue number = 1
energy frequency = 200

### Added by a3fe ###
perturbed_residue number = 1
turn on receptor-ligand restraints mode = False
charge difference = 0
lambda array = 0.0, 0.143, 0.286, 0.415, 0.545, 0.687, 0.845, 1.0

use boresch restraints = True
boresch restraints dictionary = {"anchor_points":{"r1":3220, "r2":3218, "r3":3230, "l1":46, "l2":45, "l3":47}, "equilibrium_values":{"r0":7.24, "thetaA0":2.37, "thetaB0":1.93,"phiA0":0.47, "phiB0":1.02, "phiC0":-0.36}, "force_constants":{"kr":4.08, "kthetaA":41.06, "kthetaB":29.47, "kphiA":21.34, "kphiB":10.84, "kphiC":10.69}}
